<!DOCTYPE html>
<html ng-app>

	<head>
		<script src="http://cdn.bootcss.com/angular.js/1.1.0/angular.min.js"></script>

		<script src="Scripts/B01Controllers.js"></script>

		<link rel="stylesheet" type="text/css" href="Css/Styles.css">

		<meta charset="utf-8">
		<title>Phone List Controllers Iterator And Sorter</title>
	</head>

	<body style="background-color: white;">
		<div ng-controller="GeforceGraphicCardCtrl" style="font-size:large">
			<ul style="padding-top: 20px;">
				<p>Search:
					<input ng-model="query">
				</p>
				<p >Filter: {{query}}</p>
				
				Sorter: 
				<select ng-model="orderProp" style="font-size: large;">					
					<option>No Sorting</option>		
					<option value="gpu">GPU Name</option>
					<option value="shadingUnits">Shading Unit Count</option>			
				</select>
				<br />

				<!--<li ng-repeat="videoCard in videoCards | filter:query">
					GPU: {{videoCard.gpu}}
					<p>GPU Variant: {{videoCard.gpuVariant}}</p>
					<p>Shading Units: {{videoCard.shadingUnits}}</p>
				</li>-->

				<table class="infoTable">
					<tbody>
						<tr>
							<th>GPU</th>
							<th>GPU Variant</th>
							<th>Shading Units</th>
						</tr>
						<tr ng-repeat="videoCard in videoCards | filter:query | orderBy:orderProp">
							<td>{{videoCard.gpu}}</td>
							<td>{{videoCard.gpuVariant}}</td>
							<td>{{videoCard.shadingUnits}}</td>
						</tr>
					</tbody>
				</table>
			</ul>
		</div>
	</body>

</html>